includes:
  - phpstan-baseline.neon

parameters:
  phpVersion: 70400

  parallel:
    # Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
    maximumNumberOfProcesses: 5

  # Use local .cache dir instead of /tmp
  tmpDir: .cache/phpstan

  level: 5

  paths:
    - Classes

  scanDirectories:
    - .Build/vendor/typo3
    - .Build/vendor/typo3fluid
    - .Build/Web/typo3

