.localizer-matrix-configurator table {
    width: auto;
    min-width: 50%;
}

.localizer-matrix-configurator .btn-group .btn {
    color: #fff !important;
}

.localizer-matrix-configurator .input-group {
    box-sizing: border-box;
    white-space: nowrap;
    vertical-align: top;
    width: auto !important;
    margin-right: 0px;
}

.localizer-matrix-configurator .input-group input,
.localizer-matrix-configurator .input-group label {
    display: inline-block !important;
}

.localizer-matrix-configurator .input-group .form-control-clearable {
    display: block;
    margin-right: 30px;
}

.localizer-matrix-configurator .input-group .form-control {
    width: auto !important;
    padding-right: 0;
}

.localizer-matrix-configurator .input-group .form-control-clearable .close {
    top: 9px;
    bottom: auto;
    margin-top: auto;
    line-height: 32px;
}

.localizer-matrix-configurator .input-group .input-group-btn {
    width: auto !important;
}

.localizer-matrix-configurator .list-inline > li {
    display: inline-block;
    padding: 0 10px 0 0;
    margin-bottom: 0.5em;
}

.localizer-matrix-configurator .list-inline > li > .dropdown-menu > li > a {
    padding: 3px 20px;
    white-space: nowrap;
}

.localizer-matrix-configurator .list-inline > li > .dropdown-menu > li.active > a {
    color: #fff;
    background: #424242;
}

.localizer-matrix-configurator .list-inline > li > .dropdown-toggle:after {
    display: none;
}

.localizer-matrix-configurator ul.sys-file-metadata {
    list-style-type: none;
    padding: 0 0 0 2em;
    margin: 0;
}

.localizer-selector-matrix table {
    width: auto;
    min-width: 50%;
}

.localizer-selector-matrix .language-header {
    padding: 3px 5px !important;
    font-size: 32px;
    line-height: 21px;
    vertical-align: top;
}

.localizer-selector-matrix .record-header {
    padding: 0 5px !important;
    font-size: 32px;
    line-height: 28px;
    vertical-align: top;
    color: #ccc;
}

.localizer-selector-matrix .language-record-marker {
    padding: 1px !important;
    width: 64px;
    border: 1px solid #ccc;
}

.localizer-selector-matrix .language-record-marker .btn-group {
    width: 100%;
    min-height: 32px;
    margin: 0;
    border-radius: unset;
}

.localizer-selector-matrix .language-record-marker .btn-group .btn:first-child {
    width: 100%;
    min-height: 32px;
    margin: 0;
}

.localizer-selector-matrix .language-record-marker .btn-group .btn:first-child:hover {
    border-color: rgba(0, 0, 0, 0);
}

.localizer-selector-matrix .language-record-marker .btn-group .btn:first-child input {
    display: block;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.localizer-selector-matrix .language-record-marker .btn.active:after {
    content: '\25cf';
    line-height: 0;
    opacity: 0.4;
    color: #000 !important;
    display: inline;
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 2em;
    top: 14px;
}

.changed-after-translation {
    background-color: #d1bdd1 !important;
}

.table-hover tr:hover > .changed-after-translation,
.table-hover tr > .changed-after-translation.hover {
    background-color: #c7a3c7 !important;
}

.btn-changed-after-translation {
    background-color: #c7a3c7 !important;
}

.localizer-legend.btn-changed-after-translation {
    background-color: #a76da7 !important;
}

.active.btn-changed-after-translation,
.table-hover tr > .hover .btn-changed-after-translation,
.table-hover tr:hover .btn-changed-after-translation {
    background-color: #a76da7 !important;
}

.table-hover tr .btn-changed-after-translation:hover,
.table-hover tr > .hover .active.btn-changed-after-translation,
.table-hover tr:hover .active.btn-changed-after-translation,
.legend-item .active.btn-changed-after-translation {
    background-color: #965b96 !important;
}

.not-translated {
    background-color: #d4bbbb !important;
}

.table-hover tr:hover > .not-translated,
.table-hover tr > .not-translated.hover {
    background-color: #cb9f9f !important;
}

.btn-not-translated {
    background-color: #cb9f9f !important;
}

.localizer-legend.btn-not-translated {
    background-color: #ad6767 !important;
}

.active.btn-not-translated,
.table-hover tr > .hover .btn-not-translated,
.table-hover tr:hover .btn-not-translated {
    background-color: #ad6767 !important;
}

.table-hover tr .btn-not-translated:hover,
.table-hover tr > .hover .active.btn-not-translated,
.table-hover tr:hover .active.btn-not-translated,
.legend-item .active.btn-not-translated {
    background-color: #9c5555 !important;
}

.sent-to-translation {
    background-color: #dac1ae !important;
}

.table-hover tr:hover > .sent-to-translation,
.table-hover tr > .sent-to-translation.hover {
    background-color: #d8ad8a !important;
}

.btn-sent-to-translation {
    background-color: #d8ad8a !important;
}

.localizer-legend.btn-sent-to-translation {
    background-color: #c17c44 !important;
}

.active.btn-sent-to-translation,
.table-hover tr > .hover .btn-sent-to-translation,
.table-hover tr:hover .btn-sent-to-translation {
    background-color: #c17c44 !important;
}

.table-hover tr .btn-sent-to-translation:hover,
.table-hover tr > .hover .active.btn-sent-to-translation,
.table-hover tr:hover .active.btn-sent-to-translation,
.legend-item .active.btn-sent-to-translation {
    background-color: #a86b38 !important;
}

.back-from-translation {
    background-color: #d7cda6 !important;
}

.table-hover tr:hover > .back-from-translation,
.table-hover tr > .back-from-translation.hover {
    background-color: #d4c37e !important;
}

.btn-back-from-translation {
    background-color: #d4c37e !important;
}

.localizer-legend.btn-back-from-translation {
    background-color: #b0993b !important;
}

.active.btn-back-from-translation,
.table-hover tr > .hover .btn-back-from-translation,
.table-hover tr:hover .btn-back-from-translation {
    background-color: #b0993b !important;
}

.table-hover tr .btn-back-from-translation:hover,
.table-hover tr > .hover .active.btn-back-from-translation,
.table-hover tr:hover .active.btn-back-from-translation,
.legend-item .active.btn-back-from-translation {
    background-color: #927f31 !important;
}

.translated {
    background-color: #b9cab2 !important;
}

.table-hover tr:hover > .translated,
.table-hover tr > .translated.hover {
    background-color: #a0be94 !important;
}

.btn-translated {
    background-color: #a0be94 !important;
}

.localizer-legend.btn-translated {
    background-color: #689258 !important;
}

.active.btn-translated,
.table-hover tr > .hover .btn-translated,
.table-hover tr:hover .btn-translated {
    background-color: #689258 !important;
}

.table-hover tr .btn-translated:hover,
.table-hover tr > .hover .active.btn-translated,
.table-hover tr:hover .active.btn-translated,
.legend-item .active.btn-translated {
    background-color: #567949 !important;
}

.legend-item .btn {
    border-color: rgba(0, 0, 0, 0);
}

#recordlist-tx_localizer_cart .table-hover tr .col-control .btn {
    color: #000 !important;
}

#recordlist-tx_localizer_cart .table-hover tr:hover .localizerCarts .btn,
#recordlist-tx_localizer_cart .table-hover tr .col-control .btn-info:hover,
#recordlist-tx_localizer_cart .table-hover tr .col-control .btn-success:hover,
#recordlist-tx_localizer_cart .table-hover tr .col-control .btn-warning:hover {
    color: #fff !important;
}

#recordlist-tx_localizer_cart .table-fit > .table tr > td {
    vertical-align: top;
}

#recordlist-tx_localizer_cart .localizerCarts ul,
#recordlist-tx_localizer_cart .col-control ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#recordlist-tx_localizer_cart .localizerCarts ul li,
#recordlist-tx_localizer_cart .col-control ul li {
    padding: 0;
    margin: 0 0 0.5em 0;
    display: none;
}

#recordlist-tx_localizer_cart .localizerCarts ul li:first-child,
#recordlist-tx_localizer_cart .col-control ul li:first-child {
    display: list-item;
}

#recordlist-tx_localizer_cart .expanded .localizerCarts ul li,
#recordlist-tx_localizer_cart .expanded .col-control ul li {
    display: list-item;
}

#recordlist-tx_localizer_cart .explicitely-hide {
    display: none !important;
}

.localizer-matrix-configurator,
label.localizer-legend {
    cursor: default;
}

.localizer-matrix-configurator .legend-item input {
    display: none;
}

#t3-modal-finalizecart .modal,
#t3-modal-finalizecart .modal-open,
#t3-modal-finalizecart .modal-body {
    overflow-y: visible;
}

#t3-modal-finalizecart .modal-body .list-inline {
    display: table;
    margin-left: 0;
}

#t3-modal-finalizecart .modal-body .input-group {
    display: table-row;
}

#t3-modal-finalizecart .modal-body .input-group > * {
    display: table-cell;
}

#recordlist-tx_localizer_cart .col-path {
    display: none !important;
}

#localizer_selector .btn-info {
    color: #fff !important;
}
